{% extends 'housing_app/base.html' %}
{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card bg-dark text-white shadow">
        <div class="card-body">
          <h2 class="mb-4 text-center">Two-Factor Verification</h2>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-light btn-sm w-100">Verify</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
